// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@primer/css/utilities/index.scss';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap-theme.css';

@import '~toastr/toastr';

.root-wrapper {
  display: flex;
  min-height: 100vh;

  .main-nav-column {
    background-color: #3E64FF;
    flex: 0 0 90px;
  }

  .main-nav {
    li {
      border-bottom: 1px #5373FE solid;
      &:hover, &:focus-within {
        a {
          background-color: #3E64FF;
        }
      }
      a {
        display: flex;
        color: #F9F7FF;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 14px;

        &.nav-link {
          padding: 0.5rem;
        }

        i {
          flex: 0 0 100%;
          text-align:center;
          height: 26px;
          padding-top: 8px;
        }

        span {
          flex: 0 0 100%;
          text-align: center;
          word-break: break-all;
        }
      }
    }

    .dropdown-menu {
      background-color: #3E64FF;
    }
  }

  .main-wrapper {
    flex: 1;
    background-color: #F3F4EF;
  }
}

.page-header {
  margin: 0;
  border: 2px #EEEDE9 solid;
  padding: 0px 20px;

  .page-title {
    height: 53px;
    padding: 0;
    margin: 0;
    line-height: 53px;
    color: #939290;
    font-size: 20px;
    font-weight: 600;
  }

  .logout {
    margin-top: 10px;
  }
}

.page-wrapper {
  padding: 20px;
}

#toastSuccess {
  display:none;
}